[submodule "/Users/patrickgenevich/Code/artiva-monorepo/whitelist-editions/lib/ds-test"]
	path = /Users/patrickgenevich/Code/artiva-monorepo/whitelist-editions/lib/ds-test
	url = https://github.com/dapphub/ds-test
